body {
  background-color: black;
  font-family:geneva;
}
h1 {
  color: pink;
  padding:5px;
}
p {
  color: white;
  text-align:center;
  font-size:2vw;
  font-family:geneva;
}
h2 {
	color:black;
	letter-spacing: 0.5px
	padding:30px;
	margin-top: 30px
	margin-bottom: 30px;
	font-size:30px;
	background:white;
	text-align: center;
}
h3 { 
	background-color: black;
  font-family:geneva;
  color:pink;
  font-size:50px;
  padding:5px;
}